<html>
<head>
	<title>Sudoku Game</title>
	<link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
</head>

<body>
	<h1>Keep calm and play Sudoku</h1>
	<div id="flash">
	<%= flash[:notice] %>
	</div>

	<div class="game-container">

		<div class="controls">
		
			<form action="/solution" method="get">
				<button id="show_solution_btn">Solution</button>
			</form>

			<form action="/reset" method="post">
				<button id="reset_btn">Reset</button>
			</form>

			<form action="http://en.wikipedia.org/wiki/Sudoku" type="submit">
				<button id="help_btn">Rules</button>
			</form>
		</div>

			<form id="sudoku" action="/" method="post">
				<% 3.times do |row| %>
					<div class="row">
						<% 3.times do |box| %>
							<div class="box">
								<% 3.times do |cell_row| %>
									<div class='cell-row'>
										<% 3.times do | cell | %>
											<%= partial :cell, :locals=>{:cell_index => row*27+box*3+cell_row*9+cell} %>
										<% end %>
									</div>
								<% end %>
							</div>
						<% end %>
					</div>
				<% end %>
				<button id="hint_btn">Hint</button>
			</form>
		

		<div class="level">
		<form action="/easy" method="post">
			<button id="easy_btn">Easy</button>
		</form>

		<form action="/medium" method="post">
			<button id="medium_btn">Medium</button>
		</form>

		<form action="/hard" method="post">
			<button id="hard_btn">Hard</button>
		</form>
	</div>

	</div>
</body>
</html>


