div.box {
	display: inline-block;
	outline: 3px solid black;
}

 div.cell {
	display: inline-block;
	outline: 1px solid black;
	opacity: none;
}

.cell input {
	width: 30px;
	height: 30px;
	font-size: 14;
	text-align: center;
	background-color: rgba(255, 237, 181, 0.8);
}

body {
	text-align: center;
	font-family: 'my_font';
	font-size: 60px;
  background-image: url("/background3.jpg");
  background-repeat: round;
  background-position: left top;
}

h1 {
	display: block;
	font-size: 80px;
	margin-bottom: 5px;
	text-align: center;
}

.game-container {
	font-size: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.incorrect {
	background-color: red;
}

.value-provided {
	background-color: #DDD;
}

#flash {
	color: black;
	text-align: center;
}

.controls {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-left: 40px;
	margin-right: 10px;
}

#sudoku {
	flex-grow: 2;
}

#hint_btn {
	margin-top: 30px;
}

.level {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-left: 10px;
	margin-right: 40px;
}


@font-face {
    font-family: 'my_font'; 
    src: url('/my_font.ttf'); 
}

button {
	font-family:'my_font';
	font-size: 60px;
	height: 97px;
	width: 183px;
	text-align: center;
	margin-top: 20px;
	border-radius: 10px;
	background-color: rgb(229, 32, 32);
	line-height: 113px;
	opacity: 0.8;
}
