div.box {
	display: inline-block;
	outline: 3px solid black;
}

 div.cell {
	display: inline-block;
	outline: 1px solid black;
}

.cell input {
	width: 30px;
	height: 30px;
	font-size: 14;
	text-align: center;
}

body {
	text-align: center;
	font-family: Palatino;
}

#sudoku {
	font-size: 0;
	text-align: center;
}

.incorrect {
	background-color: red;
}

.value-provided {
	background-color: #DDD;
}

#flash {
	margin: 20px;
	color: red;
}

.difficulty {
	margin: 20px;
}

#solution_button {
	margin: 20px;
}
